@font-face {
  font-family: "Winky Sans";
  src: url("font/WinkySans-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Winky Sans", Arial, sans-serif;
  background-image: url("/Picture/emoji-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 170px;
}

/**Frame Work */

.Flex-direction-Colum {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.align-center {
  align-items: center;
  align-self: center;
  align-content: center;
}

.justyfy-center {
  justify-items: center;
  justify-self: center;
  justify-self: center;
}

.width-50 {
  max-width: 50%;
}

.width-30 {
  max-width: 30%;
}

.width-20 {
  max-width: 20%;
}

.width-10 {
  max-width: 20%;
}

.p-5 {
  padding: 5px;
}

.margin-t10 {
    margin-top: 10%;
}

/* ! Importan */
#inputMassage {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}
#submit-button {
  border: none;
  font-size: 15px;
  font-weight: 500;
}
#submit-button {
  background-color: #0b8457;
  padding: 10px;
  color: white;
}
#submit-button:hover {
  background-color: #2ba87a;
  filter: blur(1px);
  transition: all 0.5s ease-in-out;
  -webkit-filter: blur(1px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

/* !Media Phone / Tablet /Notebook */

@media only screen and (max-width: 600px) {
  body { 
    background-image: url("/Picture/emoji-background\ -phone-.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom:85%;
}
}
